@import "master.css";

/* Login Box */
div.loginContainer {
  margin: auto;
  position: absolute;

  top: 50%;
  left: 50%;
  height: 400px;
  width: 300px;
  margin: -200px 0 0 -150px;
}

.loginContainer {
  text-align: center;
  padding: 12px;
  border: 3px solid #ccc;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.loginContainer input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inputDiv {
  padding: 12px;
}

.labelDiv {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

.loginContainer button {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
