@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@300&display=swap');

/* Navigation Bar */
body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

nav li {
  float: right;
}

nav ul.siteTitle {
  float: left;
}

nav a {
  display: block;
  padding: 18px;
  text-align: center;
  transition: 0.3s;
  color: #FFFFFF;
  text-decoration: none;
}

nav a::selection {
  background-color: inherit;
  color: inherit;
}

nav ul:not(.siteTitle) a:hover {
  background-color: #0066cc;
}

nav ul:not(.siteTitle) a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

nav ul.siteTitle a {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
}
