body {
  margin: 0;
  text-align: center;
}


.topnav div {
  overflow: hidden;
  background-color: #FFFFFF;
  border-width: 2px;
  border-bottom: 2px solid;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav il {
  display: inline;
}
