body {
  margin: 0;
  /*height: 100%;*/
  /*text-align: center;*/
}


.topnav div {
  overflow: hidden;
  background-color: #FFFFFF;
  height: 12vh; /* Set navigation bar height to 1/8 of window height*/
}

.topnav ul {
  border-bottom: 3px solid Black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.topnav il {
  float: left;
  height: 100%;
}
