.topnav div {
  overflow: hidden;
  background-color: #FFFFFF;
  border-bottom: solid 3px #E2E2E2;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav il {
  display: inline;
}
